description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>UIkit Skeleton - {{ this.page.title }}</title>

        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Luis Medina">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">

        <link href="{{ ['assets/sass/site.scss']|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        <!-- Content -->
            {% page %}

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery-3.4.1.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/uikit/dist/js/uikit.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/uikit/dist/js/uikit-icons.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
